{% extends "knowledge_pool/base.html" %}

{% block header %}
    <h2>{{ assunto }}</h2>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'knowledge_pool:nova_entrada' assunto.id %}">Nova entrada</a>
    </p>

    {% for entrada in entradas  %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entrada.data_criacao|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'knowledge_pool:editar_entrada' entrada.id %}">Editar</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entrada.texto|linebreaks }}
            </div>
        </div><!-- panel -->
    {% empty %}
        Não há entradas para este tópico ainda.
    {% endfor %}
{% endblock content %}
