{% extends "knowledge_pool/base.html" %}

{% block content %}
  <p>Assunto: {{ assunto }}</p>

  <p>Entradas:</p>
  <a href="{% url 'knowledge_pool:nova_entrada' assunto.id %}">Nova entrada</a>
  <ul>
    {% for entrada in entradas  %}
      <li>
        <p>{{ entrada.data_criacao|date:'M d, Y H:i' }}</p>
        <p>{{ entrada.texto|linebreaks }}</p>
        <p>
          <a href="{% url 'knowledge_pool:editar_entrada' entrada.id %}">editar entrada</a>
        </p>
      </li>

    {% empty %}
      <li>Não há nenhuma entrada para este assunto ainda.</li>
    {% endfor %}
  </ul>
{% endblock content %}
