.main-title {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #447e9b;
}

.navbar-header {
    float: left;
    padding: 15px;
}

.navbar-brand {
    float:none;
    font-size: 40px;
    margin: 8px 0;
}

.navbar-brand a{
    font-size: 40px;
    margin: 8px 0;
}

.jumbotron h1{
    color: #447e9b;
}

.jumbotron center{
    color: #447e9b;
}

.footer {
    align-content: center;
}